@import '../node_modules/bulma/sass/utilities/initial-variables.sass';

$blue: #72d0eb;
$pink: #ffb3b3;
$pink-invert: #fff;
$family-serif: "Merriweather", "Georgia", serif;

@import '../node_modules/bulma/sass/utilities/derived-variables.sass';
$primary: $pink;
$primary-invert: $pink-invert;
$family-primary: $family-serif;

@import '../node_modules/bulma/css/bulma.css';

.App {
  font-family: Helvetica, Arial, sans-serif;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.button.dark{
  opacity: 1;
  color: #777;
  border-color: #a5a6a7;
  font-size: medium;
  font-weight: 600;
}

.button.dark:hover{
  cursor: pointer;
  background-color: #6083aa;
  color: white;
  border-color: #6083aa;
  opacity: 1;
}

.header{
  background: #e4e9ef;
  display: flex;
  padding: 1vh;
}

.headerTitle{
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1.7em;
}

.searchBar{
  margin: auto;
}

.headerLogo{
  max-height: 7vh;
  margin-top: auto;
  margin-bottom: auto; 
}

.search{
  display: flex;
  justify-content: center;
}

.searchInput{
  width: 80vh;
  font-size: xx-large;
  max-width: 60vh;
  border: none;
  padding: 5px;
  border-radius: 4px 0 0 4px;
}

.searchButton{
  border: none;
}

.searchBarFacets{
  display: flex;
}

.searchBarFacet{
  padding: 5px;
  width: 100%;
  height: 35px;
  color: white;
  font-weight: 600;
  background: #4b6a8d;
  display: flex;
  justify-content: space-around;
}

.searchBarFacet:hover{
  color: #4b6a8d;
  background: white;
}

.searchView{
  padding: 1vh;
  min-height: 100vh;
}

.dataTypeTabs{
  display: flex;
  border-bottom: 1px solid #d0d0d0;
}

.resultFilters{
  display: flex;
  padding: 1vh;
}

.resultFilter{
  padding: 1vh 3vh 1vh 3vh;
}

.sortByFilter{
  padding: 6px 20px 6px 6px;
  width: 100%;
  height: 35px;
  color: white;
  background: #4b6a8d url(http://localhost:9000/assets/images/arrows_select_box.png) no-repeat 94% 5px;
  font-weight: 600;
}

.searchFacets{
  padding-top: 1vh;
}

.searchFacetGroup{
  /*font-size: 1.71em;*/
  border: 0.05em solid #BDBDBD;
  padding: 3vh 1vh 3vh 1vh;
  border: 1px solid #cacaca;
  background: #efefef;
  min-width: 20vh;
}

.searchResults{
  padding: 1vh;
  grid-column-start: 2;
  grid-column-end: 4;
}

.searchResult{
  padding: 1vh;
}

.searchResultsContainer{
  /*display: grid;
  grid-template-columns: auto auto auto auto;*/
}

.searchResultTitle{
  font-size: 1.71em;
  margin-bottom: 0.32em;
}

.searchResultDescription{
  font-size: 1.1em;
}

.searchContextResults{
  max-width: 40vh;
  padding-top: 1vh;
}

.searchContextResult{
  padding: 0vh 1vh 3vh 1vh;
}

.searchContextResultTitle{
  font-size: 1.71em;
  margin-bottom: 0.32em;
}

.searchContextResultDescription{
  font-size: 1.1em;
}

.appFooter{
  background: black;
  padding: 5vh;
}

.footerLinks{
  display: flex;
  justify-content: center;
}

.footerLinks a{
  color: white;
  padding-left: 1vh;
  padding-right: 1vh;
}